@import '../../styling/variables';

.searchButton {
    text-align: right;
    margin: 1rem 0;
}

.button {
    padding: 0.5rem 1rem;
    color: $color;
    background-color: $contrast;
    border: 3px solid $dark;
    border-radius: 5px;
}

.box {
    width: 100%;
}