@import '../../styling/variables';

.navbar {
    height: 5rem;
    background: $contrast;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 2px 3px 9px 0px #423B3E;
    z-index: 1;
}

.navbar_title {
    color: $color;
}

.navbar_title_florp {
    color: $dark;
}
